html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 3px;
    line-height:1.5;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: #f1f1f1;
}
main{
    background-color: white;
    width: 50%;
    margin:20px auto;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.1);
}
h1{
    font-size: 20px;
    text-align: center;
}
form{
    margin:10px 0px;
}
label{
    display: block;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 2px;
}
.form-group{
 padding:15px 0px;
}
input,textarea{
    padding:7px;
    width:100%;
    color:blue;
    border-radius: 5px;
    border:1px solid red;
}

input::placeholder,textarea::placeholder{
    font-size: 0.7rem;
    color:#ccc;
}
input:focus,textarea:focus{
   border: 1px solid blue;
}
button{
    background-color: blue;
    padding: 15px;
    color:white;
    border:none;
    border-radius: 10px;
    width: 150px;
    cursor: pointer;
    text-transform: capitalize;
}
input:valid{
    color:green;
}
input:invalid{
    color:red;
}