html,body{
    padding:0;
    margin:0;

}
*{
    box-sizing: border-box;
}
body{
    font-family: 'Courier New', Courier, monospace;
}
.container{
    max-width: 600px;
    margin:0 auto;
}
.container :is(h1,h2,p){
    color:blue;
}
p a{
    color:green;
}
p :is(a){
 color:red;
}
a:is(:hover,:focus){
    background-color: pink;
}
/* where is lower special than is */
.container :where(h1,h2,p){
    color:green;
}
.container :has(a){
    color:red;
    border:1px solid red;
}