html,body{
    padding:0;
    margin:0;
    font-family: 'Courier New', Courier, monospace;
}
.container{
    margin:30px auto;
}
.box{
    width:100px;
    height:100px;
    background: coral;
    animation: animatel 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    position: absolute;
}
@keyframes animatel{
    from{
         width: 100px;
         background-color: coral;
         top:0;
    }
    to{
        width: 500px;
        background: cyan;
        top:50vh;
    }
       

}